<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="border p-3 my-3">
      産地編集
    </h5>
  </div>
  <br>
  <div class="row d-flex justify-content-center">
    <%= render "layouts/errors", obj: @origin %>
  </div>

  <div class="row d-flex justify-content-center my-3">
    <%= form_with model: @origin, url: admin_origin_path(@origin), method: :patch do |f| %>
      <div class="row d-flex justify-content-center">
        <div class="mr-3">
          <%= f.label :name, "産地", class: "mr-3" %>
        </div>
        <div class="mr-5">
          <%= f.text_field :name, class: "rounded" %>
        </div>
        <div>
          <%= f.submit "変更", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>