<h4>管理者ログイン</h4>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, :size=>"45", placeholder: "メールアドレスを入力(choco＠chocomate.com)", autofocus: true, autocomplete: "email", style: "height: 35px;" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード"  %><br />
    <%= f.password_field :password, :size=>"45", placeholder: "パスワードをを入力(半角英字)", autocomplete: "current-password", style: "height: 35px;" %>
  </div>


  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
