<div class="container">
  <div class="row d-flex justify-content-center">
    <h5 class="border-bottom p-3 my-3">
      ブランド一覧・追加
    </h5>
  </div>  
  <%= render "layouts/errors", obj: @brand %>
  <div class="row d-flex justify-content-center my-3">
    <%= form_with model: @brand, url: admin_brands_path, method: :post do |f| %>
      <div class="row d-flex justify-content-center">
        <div class="mr-3">
          <%= f.label :name, "ブランド名", class: "mr-3" %>
        </div>
        <div class="mr-5">
          <%= f.text_field :name, placeholder: "ブランド名", class: "rounded" %>
        </div>
        <div>
          <%= f.submit '新規登録', class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="pull-left">
      <table class="table">
        <thead>
          <tr class="table-secondary">
            <th>ブランド</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @brands.each do |brand| %>
            <tr>
              <td><%= brand.name %></td>
              <td></td>
              <td><%= link_to "編集", edit_admin_brand_path(brand.id), class: "btn btn-success" %></td>
              <td><%= link_to "削除", admin_brand_path(brand.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
