<div class="container">
  <div class="mb-4">
    <h4>みんなのレビューチョコ
    <% if @tag.present? %>
    <i class="fa-sharp fa-solid fa-tag"></i>
      <%= @tag.name %>
      (全<%= @tag.reviews.count %>件)
    <% end %>
    </h4>

    <div class="my-3">
      <%= form_tag(admin_reviews_search_path, method: :get) do %>
        <%= collection_select(:search, :product, Product.all, :id, :name) %>
        <%= submit_tag '検索', name: nil %>
      <% end %>
    </div>
  </div>


  <% @reviews.each do |review| %>
    <div class="row my-3">
      <div class="col-sm-2">
        <%= image_tag review.get_image(200, 200), style: "width:100%;" %>
      </div>
      <div class="col-sm-10">
        <div class="row">
          <div class="col-md-6">
            <%= review.product.name %>
          </div>
          <div class="col-md-6 d-flex">
            <span class="mr-2"><%= review.rate %>点</span>
            <%= render "user/reviews/static_rate", review: review %>
          </div>
        </div>
        <div>
          user: <%= link_to review.user.name , user_path(review.user.id) %>
        </div>
        <div>
          review: <%= truncate(review.body, length: 23) %>
          <%= link_to ">> Read more", admin_review_path(review.id) %>
        </div>

        <% review.tags.each do |tag| %>
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to tag.name, admin_reviews_path(tag_name: tag.name) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="d-flex justify-content-center">
    <%= paginate @reviews, theme: 'bootstrap-5'%>
  </div>
</div>