ブックマーク一覧

<% @bookmark_reviews.each do |bookmark| %>
  <tr>
    <td><%= image_tag bookmark.review.get_image(150, 150) %></td>
    <td><%= bookmark.review.product.name %></td>
    <td><%= render "user/reviews/static_rate", review: bookmark.review %></td>
    <td>
     <%= link_to ">> Read more", review_path(bookmark.review.id) %>
    </td>
  </tr>
<% end %>

 <%= link_to "マイページに戻る", user_path(@user), class: "btn btn-outline-secondary btn-block" %>