<%= form_with model: @review do |f| %>
<%= render "layouts/errors", obj: @review %>
  <div>商品画像<span class="required-text">(必須)</span></div>
  <div>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="mt-2"><%= f.label :product_id,"商品" %></div>
  <div>
    <%= f.select :product_id, Product.all.map { |product| [product.name, product.id] } %>
  </div>
  <div class="mt-2">レビュー本文<span class="required-text">(必須)</span></div>
  <div class="mb-2">
    <%= f.text_area :body, size: "40x10" , placeholder: 'ここにレビューを入力してください（最大500文字）' %>
  </div>
  <!--タグ-->
  <div><%= f.label " タグ (,で区切ると複数タグ登録できます)" %></div>
  <div>
    <%= f.text_field :name, value: @tag_list,class: "form-control"%>
  </div>
  <!--星評価-->
  <% if @review.id.nil? %>
    <div class="form-group mt-2" id="star">
      <%= f.label :rate,"星評価(1.0～5.0)" %>
      <%= f.hidden_field :rate, id: :review_star, class: 'form-control' %>
      <div id="post_raty"></div>
    </div>
    <script>
      $(document).on('turbolinks:load', function() {
        let elem = document.querySelector('#post_raty');
        if (elem == null) return;

        elem.innerHTML = ""
        let opt = {
          starOn: "<%= asset_path('star-on.png') %>",
          starOff: "<%= asset_path('star-off.png') %>",
          starHalf: "<%= asset_path('star-half.png') %>",
          scoreName: 'review[rate]',
          half: true,
        };
        raty(elem, opt);
      });
    </script>
  <% else %>
    <div class="form-group">
      <%= render "static_rate", review: @review %>
    </div>
  <% end %>

  <div>
    <% if @review.new_record? %>
      <%= f.submit "レビューを投稿する", class:"btn btn-success" %>
    <% else %>
      <%= f.submit "レビューを編集する", class:"btn btn-success"  %>
    <% end %>
  </div>
<% end %>