<div class="container">
  <div class="row">
    <h4>レビュー詳細</h4>
  </div>
      <!-- ブックマーク（ログインしてなかったら非表示） -->
      <% if user_signed_in? %>
        <div id="bookmark_btn_<%= @review.id %>">
          <%= render "bookmark", review: @review %>
        </div>
      <% end %>
  <div class="row">
    <div class="col-6">
      <%= image_tag @review.get_image(300, 300) %>
    </div>
    <div class="col-6">
      <h5 class="product-name"><%= @review.product.name %></h5>
      <!--星評価-->
      <div class="d-flex align-items-center">
        <%= render "static_rate", review: @review %>
        <span class="ml-2 rate-styled"><%= @review.rate %></span>
      </div>
      <ul>
        <li>ブランド：
          <%= @review.product.brand.name %>
        </li>
        <li>価格：
          <%= @review.product.price %>円（店舗により異なります）
        </li>
        <li>種類：
          <%= @review.product.type.name %>
        </li>
        <li>産地：
          <%= @review.product.origin.name %>
        </li>
        <li>タグ：
          <% @review_tags.each do |tag| %>
          <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name, reviews_path(tag_name: tag.name) %>
          <% end %>
        </li>
      </ul>    
      <h6>～ レビュー ～</h6>
      <div><%= @review.body %></div>
    </div>
  </div>    
          <!--レビューしたユーザーのプロフィールイメージ-->
      <%=link_to user_path(@review.user.id) do  %>
        <div><%= image_tag @review.user.get_profile_image(150,150) %></div>
        <div><%= @review.user.name %></div>
      <% end %>
      </div>
    </div>
      
          <!--投稿日-->
      <h6><%= @review.created_at.strftime('%Y/%m/%d') %></h6><br>


      <% if @review.user == current_user %>
        <%= link_to "編集", edit_review_path, class: "btn btn-sm btn-success" %>
        <%= link_to "削除", review_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %>
      <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <!-- コメント関係 -->
      <div class="border p-3"> <!-- 枠で囲む部分 -->
        <!-- コメント件数 -->
        <p>コメント件数：<span id="comment_count"><%= @review.review_comments.count %></span></p>
        <div class="row" id="review-comments">
          <!--コメント一覧-->
        <%= render "user/review_comments/index", review: @review %>

        </div>
        <div class="row">
          <div class="col mx-auto" id="post-comments">
            <!--コメント投稿フォーム(ログインしてなかったら非表示)-->
            <% if user_signed_in? %>
              <%= render "user/review_comments/form" , { review: @review , review_comment: @review_comment } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>