<div class="outer-container">
<h2>投稿したレビューの詳細</h2>
<%= render "bookmark", review: @review %>
<div class="container">
  <div class="row">
    <div class="col-2">
      <%= image_tag @review.get_image(200, 200) %><br>
      <%= @review.user.name %>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-7 offset-md-2">
          <h3><%= @review.product.name %></h3>
        </div>
        <div class="col-3">
          <%= render "static_rate", review: @review %>
        </div>
      </div>
    </div>
  </div>
      <li>ブランド：
        <%= @review.product.brand.name %>
      </li>
      <li>価格：
        <%= @review.product.price %>円（店舗により異なります）
      </li>
      <li>種類：
        <%= @review.product.type.name %>
      </li>
      <li>産地：
        <%= @review.product.origin.name %>
      </li>
      <li>タグ：
        <% @review_tags.each do |tag| %>
        <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to tag.name, reviews_path(tag_name: tag.name) %>
        <% end %>
      </li>
    <div class="col-5">
    <h4>レビュー内容</h4>
    <p><%= @review.body %></p>


      <% if @review.user == current_user %>
          <td><%= link_to "編集", edit_review_path, class: "btn btn-sm btn-success" %></td>
          <td><%= link_to "削除", review_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
      <% end %>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <!--コメント欄ここ-->
    <div class="col mx-auto">
      <p>コメント件数：<%= @review.review_comments.count %></p>
      <% @review.review_comments.each do |review_comment| %>
        <p><%= image_tag review_comment.user.get_profile_image(100,100) %></p>
        <%= review_comment.user.name %><br>
        <%= review_comment.created_at.strftime('%Y/%m/%d') %><%= review_comment.comment %>
    <!--レビューコメントの削除-->
        <% if review_comment.user == current_user %>
          <%= link_to "削除", review_review_comment_path(@review,review_comment), method: :delete, data: { confirm: '削除しますか？' }, class: "btn btn-sm btn-danger" %>
        <% end %><br>
      <% end %>
    </div>

    <div class="col">
      <!--コメント投稿フォーム-->
      <%= form_with model: [@review, @review_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメント" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  </div>
</div>
</div>