<div class="main_visual">
  <%= image_tag 'main_visual2.jpg', alt: 'Image', width: '100%', height: '100%' %>
  <div class="text-overlay">
    <p>
      チョコレートの奥深さを探し<br>
    新たなお気に入りを見つけよう
    </p>
  </div>
</div>

<div class="container mt-5">
  <div class="d-flex justify-content-center mb-5">
    <h1 class="top_heading">New Review</h1>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="card">
          <a href="<%= admin_signed_in? ? admin_review_path(review.id) : review_path(review.id) %>">
            <%= image_tag review.get_image(200, 200), class: "card-img-top" %>
          </a>
          <div class="card-body">
            <p class="card-title"><%= review.product.name %></p>
            <div id="top_star_<%= review.id %>" class="mb-2"></div>
            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#top_star_<%= review.id %>');
                if (elem == null) return;

                elem.innerHTML = "";
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  score: "<%= review.rate %>",
                  readOnly: true,
                };
                raty(elem, opt);
              });
            </script>
            <div class="float-left mr-2"><%= image_tag review.user.get_profile_image(50,50), class: "img-fluid rounded-circle"%></div>
            <p class="card-text font-small"><%= truncate(review.body, length: 50) %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
