<div class="container">
  <div class="row justify-content-center">
      <h5 class="border-bottom p-3 mb-3">商品一覧・追加</h5>
  </div>

  <%= render "layouts/errors", obj: @product %>

  <div class="row justify-content-center my-3">
    <div class="col-md-6">
      <%= form_with model: @product, url: admin_products_path, method: :post do |f| %>
        <div class="mb-3">
          <%= f.label :name, "商品名", class: "form-label" %>
          <%= f.text_field :name, class: "form-control", placeholder: "商品名" %>
        </div>
        
        <div class="mb-3">
          <div>ブランド</div>
           <%= f.collection_select :brand_id, Brand.all, :id, :name, include_blank: "-- 選択して下さい-- " %>
        </div>

        <div class="mb-3">
          <div>種類</div>
          <%= f.collection_select :type_id, Type.all, :id, :name, include_blank: "-- 選択して下さい-- " %>
        </div>

        <div class="mb-3">
          <div>産地</div>
          <%= f.collection_select :origin_id, Origin.all, :id, :name, include_blank: "-- 選択して下さい-- " %>
        </div>

        <div class="mb-3">
          <div>価格</div>
          <div class="input-group">
            <%= f.text_field :price, class: "form-control", placeholder: "100" %>
            <span class="input-group-text">円</span>
          </div>
        </div>

        <div class="row justify-content-center">
          <div>
            <%= f.submit '新規登録', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
<!--一覧  -->
  <div class="row d-flex justify-content-center mt-5">
    <table class="table">
      <thead>
        <tr class="table-secondary">
          <th>商品名</th>
          <th>ブランド</th>
          <th>種類</th>
          <th>産地</th>
          <th>価格</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <td><%= product.name %></td>
            <td><%= product.brand.name %></td>
            <td><%= product.type.name %></td>
            <td><%= product.origin.name %></td>
            <td><%= product.price %>円</td>
            <td><%= link_to "編集", edit_admin_product_path(product.id), class: "btn btn-success" %></td>
            <td><%= link_to "削除", admin_product_path(product.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger" %></td>
            </tr>            
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  ページベーション
</div>
