<div class="container border p-3">
  <div class="row d-flex justify-content-center">
    <h5>
      会員情報編集
    </h5>
  </div>

  <%= render "layouts/errors", obj: @user %>

  <div class="row d-flex justify-content-center">
    <%= form_with model: @user, url: admin_user_path, method: :patch do |f| %>
      <table class="table table-borderless">
        <tr>
          <td>会員ID</td>
          <td><%= @user.id %></td>
        </tr>

        <tr>
          <td>ユーザーネーム</td>
          <td><%= f.text_field :name, class: "form-control rounded" %></td>
        </tr>

        <tr>
          <td>プロフィール画像</td>
          <td>
            <div class="form-group">
              <%= f.file_field :profile_image, accept: "image/*" %>
            </div>
          </td>
        </tr>

        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email, class: "form-control rounded" %></td>
        </tr>

        <tr>
          <td>自己紹介</td>
          <td>
            <%= f.text_area :bio, placeholder: "自己紹介文を入力", class: "form-control rounded", rows: 5 %>
          </td>
        </tr>

        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_active, :true %>
            <%= f.label :is_active, "有効", { value: :true }  %>

            <%= f.radio_button :is_active, :false %>
            <%= f.label :is_active, "退会", { value: :false } %>
          </td>
        </tr>

        <tr>
          <td></td>
          <td><%= f.submit "変更を保存", class: "btn btn-success" %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
