<!DOCTYPE html>
<html>
  <link href="https://fonts.googleapis.com/css2?family=" rel="stylesheet">
  <head>
    <title>Chocomate</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/19ed3027dd.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <main class="pb-5">
      <% if notice.present? %>
        <div class="d-flex justify-content-center mt-3">
          <p class="notice alert-info px-3" role="alert"><%= notice %></p>
        </div>
      <% end %>
      <% if alert.present? %>
        <div class="d-flex justify-content-center">
          <p class="arlet alert-danger px-3" role="alert"><%= alert %></p>
        </div>
      <% end %>

    <%= yield %>
    </main>  
    <%= render "layouts/footer" %>
  </body>
</html>
